<html xmlns:th="http://www.thymeleaf.org">

<head>
    <script>$(".select").dropdown({"autoinit": ".select"});</script>
</head>

<div th:fragment="croak (croak, pageOwner)">

    <div th:id="${croak.id}" th:class="'croak' + ${croak.id}" style="margin-bottom: 1%">

        <!--/* print username */-->
        <strong><p th:remove="tag" th:text="${croak.user.username}"/></strong>
        <!--/* print location and date */-->
        <div style="float: right" class="text-muted">
                                <span th:if="${croak.location != null && croak.location != ''}">
                                    <label class="croakLocation"><p th:text="${croak.location}"></p></label>,</span>

            <label class="date">
                <div th:id="'div' + ${croak.id}">
                </div>

                <script type="text/javascript">

                    var q = moment([[${croak.date}]]).format('MMMM Do YYYY, h:mm:ss a');

                    var para = document.createElement("p");
                    var node = document.createTextNode(q);
                    para.appendChild(node);
                    var element = document.getElementById("[[${'div' + croak.id}]]");
                    element.appendChild(para);
                </script>
            </label>

        </div>
        <!--/* print croak text */-->
        <h4><p class="textCroak"><a th:name="${croak.id}"></a>
            <div th:remove="tag" th:utext="${croak.text}"></div>
            </p>
        </h4>

        <!--/* print croak buttons */-->
        <p th:remove="tag" th:include="fragments/buttonsForControlCroaks.html ::
        buttonsForContralCroak (${croak}, ${user}, ${pageOwner})"></p>

    </div>

</div>