<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="headerCSSJS">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script type="text/javascript" th:src="@{/js/jquery-1.10.2.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.nouislider.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/ripples.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/material.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/userPageScript.js}"></script>
    <script type="text/javascript" th:src="@{/js/moment-with-locales.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.dropdown.js}"></script>
    <script type="text/javascript" th:src="@{/js/snackbar.min.js}"></script>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/roboto.min.css}">
    <link rel="stylesheet" th:href="@{/css/material-fullpalette.min.css}" />
    <link rel="stylesheet" th:href="@{/css/ripples.min.css}">
    <link rel="stylesheet" th:href="@{/css/jquery.dropdown.css}">
    <link rel="stylesheet" th:href="@{/css/snackbar.min.css}">
    <link rel="stylesheet" th:href="@{/css/userPageStyle.css}" />

    <script type="text/javascript">$(function () {
        $.material.init();
    });</script>
</div>

<div th:fragment="moveToCenter">
    <style>
        .vertical-center {
            min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
            min-height: 100vh; /* These two lines are counted as one :-)       */

            display: flex;
            align-items: center;

        }
        .horizontal-center {
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</div>
