<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!--/* list for print croaks */-->
<div th:fragment="listOfAllCroaks (croaksAndRecroaks, pageOwner, user)">
    <div class="shadow-z-2 fill" style="background: white; min-height: 65vh">
        <div class="teste1" style="padding-top: 7%; padding-bottom: 1%">

            <!--/* print all croaks and recroaks */-->
            <th:block th:each="entry : ${croaksAndRecroaks}">

                    <!--/* print croak */-->
                    <span th:if="${entry.getClass().simpleName == 'Croak'}">

                        <p th:remove="tag" th:replace="fragments/croakFragment.html :: croak (${entry}, ${pageOwner})"></p>

                    </span>

                    <div th:id="${entry.id}" th:class="'croak' + ${entry.id}" style="margin-bottom: 1%">

                    <!--/* print Recroak, print owner of Recroak, date of Recroak */-->
                    <span th:if="${(entry.getClass().simpleName == 'Recroak') && (entry.flag)}">
                            <div class="text-muted"><div th:remove="tag" th:utext="'@' + ${entry.user.username}"></div> recroaked
                                <!--/* print Recroak date */-->
                                <div style="float: right">
                                    <p th:remove="tag"
                                       th:replace="fragments/datePrinter.html :: printDate (${entry.date})"></p>
                                </div>
                            </div>
                        <!--/* print owner of Croak which was Recroaked */-->
                            <strong><div th:remove="tag" th:utext="${entry.croak.user.username}"></div></strong>
                        </span>

                    <!--/* print Recroak (answer), owner of Croak which was Recroaked (answered) */-->
                    <span th:if="${(entry.getClass().simpleName == 'Recroak')  && (!entry.flag)}">
                            <div class="text-muted"><div th:remove="tag"
                                                         th:utext="'@' + ${user.username}"></div>
                                <a th:href="${entry.croak.user.username} + '#' + ${entry.croak.id}">answered
                                    <span th:remove="tag" th:utext="${entry.croak.user.username}"></span></a>
                                <!--/* print date of Recroak (answer) */-->
                                <div style="float: right" class="text-muted">
                                    <p th:remove="tag"
                                       th:replace="fragments/datePrinter.html :: printDate (${entry.date})"></p>
                                </div>
                            </div>
                        <!--/* print owner of Recroak (answer) */-->
                            <strong><div th:remove="tag" th:utext="${entry.user.username}"></div></strong>
                        </span>

                    <!--/* print location and date for Recroak and Recroak (answer) */-->
                    <div style="float: right" class="text-muted">
                            <span th:if="${(entry.getClass().simpleName == 'Recroak') && (entry.croak.location != null) && (entry.croak.location != '')}">
                                <p th:remove="tag" th:text="${entry.croak.location} + ','"></span>
                        <!--/* print date for Answer, this is a date of original Croak */-->
                        <span th:if="${(entry.getClass().simpleName == 'Recroak') && (entry.flag)}">
                                <p th:remove="tag"
                                   th:include="fragments/datePrinter.html :: printDate (${entry.croak.date})"></p>
                            </span>
                        <!--/* print date for Recroak */-->
                        <span th:if="${(entry.getClass().simpleName == 'Recroak') && !(entry.flag)}">
                                <p th:remove="tag"
                                   th:include="fragments/datePrinter.html :: printDate (${entry.date})"></p>
                            </span>
                    </div>
                    <!--/* print answer text for Recroak (answer) */-->
                    <span th:if="${(entry.getClass().simpleName == 'Recroak') && !(entry.flag)}">
                            <h4><p th:text="${entry.answerText}"></p></h4>
                    </span>
                    <!--/* print recroak text for Recroak, this is text of original croak */-->
                    <span th:if="${(entry.getClass().simpleName == 'Recroak') && (entry.flag)}">
                            <h4><p th:text="${entry.croak.text}"></p></h4>
                    </span>

                    <!--/* buttons for control Croaks such as remove, edit, recroak, reply and 'reply dialog' */-->
                    <p th:if="${entry.getClass().simpleName != 'Croak'}" th:remove="tag"
                       th:include="fragments/buttonsForControlCroaks.html :: buttonsForContralCroak (${entry}, ${user}, ${pageOwner})"></p>

                </div>
            </th:block>
        </div>
    </div>
</div>