<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!--/* navigation menu on the top of the page */-->
<div th:fragment="navigationMenu (user)">
    <div class="shadow-z-1 well-material-green-A700" style="height: 10vh; margin-top: 2vh">
        <a class="navbar-brand" th:href="@{/}"><h3>Croaker</h3></a>
        <a class="navbar-brand" th:href="@{/API}"><h3>API</h3></a>
        <div sec:authorize="isAuthenticated()" class="userDetails">
            <h4> User: <a style="color: #d6eedf" th:href="@{/user/{path}(path=${user.username})}" th:text="${user.username}"/></h4>
            <form th:action="@{/logout}" method="post">
                <input type="submit" class="addButton" value="Logout">
            </form>
        </div>
        <div sec:authorize="isAnonymous()" class="userDetails">
            <input id="loginButton" type="submit" style="margin-top: 3vh" value="Login" th:href="@{/login}">
        </div>
    </div>
</div>

<!--/* form for create new croaks, visible only for page owner */-->
<div th:fragment="newCroakForm (pageOwner, user)">
    <span th:if="${pageOwner.id == user.id}">
        <form th:action="@{/user/newCroak}" method="post">
            <div class="shadow-z-2 topArea" style="background: white">
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-10">
                            <div class="form-group">
                                <textarea type="text" id="croakInput" class="form-control floating-label"
                                          rows="3" placeholder="New croak" name="croakInput"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <textarea type="text" id="locationInput" class="form-control floating-label"
                                          rows="3" placeholder="Location" name="locationInput"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="errorText" class="text-danger col-lg-2"
                             style="margin-left: 68%; margin-top: 1%"></div>
                        <div class="teste">
                            <button type="submit" th:value="${user.id}" id="submitButton"
                                    class="btn btn-primary btn-raised" name="submitButton">submit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </span>
</div>