<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="icon" th:href="@{/favicon.ico}">
<head>
    <title>API</title>
    <div th:replace="fragments/head.html :: headerCSSJS"></div>
    <div th:replace="fragments/head.html :: moveToCenter"></div>
</head>

<body>
<div class="container-fluid">
    <!--/* navigation menu on the top of the page */-->
    <p th:remove="tag" th:replace="fragments/navigationMenuAndNewCroakForm.html :: navigationMenu (${user})"></p>

    <div class="container top horizontal-center">
        <div class="shadow-z-2 fill" style="background: white; min-height: 65vh">
            <div class="teste1" style="padding-top: 7%; padding-bottom: 1%">
                <h3>This service supports REST API commands, here list of them:</h3>
                <ul>
                    <h4>Get commands:</h4>
                    <li class="list-group-item">/api/user/users - list of all users</li>
                    <li class="list-group-item">/api/croak/croaks/{username} - list of all croaks</li>
                    <li class="list-group-item">/api/croak/recroaks/{username} - list of all recroaks</li>
                </ul>
                <ul>
                    <h4>Post commands:</h4>
                    <li class="list-group-item">/api/user/createUser - create new user (body fields: "username"*, "password"*)</li>
                    <li class="list-group-item">/api/user/login - authorize user and get JWT (body fields: "username"*, "password"*)</li>
                    <li class="list-group-item">/api/croak/createCroak - create new croak (body fields: "text"*, "location", HEADERS: "Authorization" - Bearer_{JWT})</li>
                    <li class="list-group-item">/api/croak/editCroak/{id} - edit croak (body fields: "text"*, HEADERS: "Authorization" - Bearer_{JWT})</li>
                    <li class="list-group-item">/api/recroak/createRecroak - create recroak (body fields: "id"*, HEADERS: "Authorization" - Bearer_{JWT})</li>
                    <li class="list-group-item">/api/recroak/createAnswer - create answer (body fields: "id"*, HEADERS: "Authorization" - Bearer_{JWT})</li>
                </ul>
                <ul>
                    <h4>Delete commands:</h4>
                    <li class="list-group-item">/api/croak/deleteCroak/{id} - delete croak (HEADERS: "Authorization" - Bearer_{JWT})</li>
                    <li class="list-group-item">/api/recroak/deleteRecroak/{id} - delete recroak (HEADERS: "Authorization" - Bearer_{JWT})</li>
                </ul>
                <ul>
                    <h4>Put commands:</h4>
                    <li class="list-group-item">/api/croak/editCroak/{id} - edit croak (body fields: "text"*, "location", HEADERS: "Authorization" - Bearer_{JWT})</li>
                </ul>
                <ul>
                    <h4>Some curl examples</h4>
                    <li class="list-group-item">curl http://localhost:8080/java/croaker/api/croak/croaks/Eduard</li>
                    <li class="list-group-item">curl -d {"username": "RESTUser", "password": "123"} -H "Content-Type: application/json" -X POST http://localhost:8080/java/croaker/api/user/login</li>
                    <li class="list-group-item">curl -d {"text": "message from REST API", "location": "Kazan"} -H "Content-Type: application/json" -H "Authorization: Bearer_eyJhbGciOiJIUdzI1jNiJ9.eyJzdWIiOiNjQ4aNTql9.L3O40jZFmctSHRvfAkgW7tzycu5INeQGdNcv4TUwt2q8" -X POST http://localhost:8080/java/croaker/api/croak/createCroak</li>
                </ul>
                <p class="mb-0">
                    <span class="mdi-border">* - required fields</span>
                </p>
            </div>
        </div>
    </div>
</div>
</body>