<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="icon" th:href="@{/favicon.ico}">
<head>
    <title>Home page</title>
    <div th:replace="fragments/head.html :: headerCSSJS"></div>
    <div th:replace="fragments/head.html :: moveToCenter"></div>
</head>

<body>

<div class="container-fluid">

    <!--/* navigation menu on the top of the page */-->
    <p th:remove="tag" th:replace="fragments/navigationMenuAndNewCroakForm.html :: navigationMenu (${user})"></p>

    <div class="row vertical-center" style="min-height: 65vh">
        <div class="well bs-component horizontal-center col-lg-3 ">
            <h3 style="margin-top: 0px; margin-bottom: 20px">List of users:</h3>
            <th:block th:each="user: ${users}">
                <div class="list-group">
                    <a th:href="${'user/' + user.getUsername()}" class="list-group-item list-group-item-action"
                    th:text="${user.getUsername()}"></a>
                </div>
            </th:block>

        </div>
    </div>
</div>

</body>