<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="icon" th:href="@{/favicon.ico}">
<head>
    <title>Login page</title>
    <div th:replace="fragments/head.html :: headerCSSJS"></div>
    <div th:replace="fragments/head.html :: moveToCenter"></div>
</head>

<body>


<div class="container-fluid">
    <!--/* navigation menu on the top of the page */-->
    <p th:remove="tag" th:replace="fragments/navigationMenuAndNewCroakForm.html :: navigationMenu (${#authentication.getPrincipal()})"></p>

    <div class="row vertical-center" style="min-height: 65vh">
        <div class="well bs-component horizontal-center col-lg-3 ">
            <form class="form-horizontal" th:action="@{/login}" method="post">
                <span th:if="${param.unregisteredMessage != null}">
                <h4 class="mdi-border" style="margin-top: 0">
                    In order to be able to create new croaks, recroaks or answers you should authorize</h4>
                </span>
                <fieldset>

                    <legend>Authorization</legend>
                    <span th:if="${param.error != null}"><p class="text-danger">Error user or password</p></span>
                    <div class="form-group" th:classappend="${param.error != null} ? 'has-error'">
                        <label for="inputEmail" class="col-lg-2 control-label">User</label>
                        <div class="col-lg-10">
                            <input type='text' class="form-control" id="inputEmail" name='username'
                                   placeholder="Your name">
                        </div>
                    </div>

                    <div class="form-group" th:classappend="${param.error != null} ? 'has-error'">
                        <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                        <div class="col-lg-10">
                            <input type="password" class="form-control" name='password' id="inputPassword"
                                   placeholder="Password" maxlength="20">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="submit" value="submit" class="btn btn-primary">submit</button>
                            <a href="registrationPage" class="btn btn-default"> registration </a>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>