<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="icon" th:href="@{/favicon.ico}">
<head>
    <title>Registration page</title>
    <div th:replace="fragments/head.html :: headerCSSJS"></div>
    <div th:replace="fragments/head.html :: moveToCenter"></div>

</head>
<body>
<div class="container-fluid">

    <!--/* navigation menu on the top of the page */-->
    <p th:remove="tag" th:replace="fragments/navigationMenuAndNewCroakForm.html :: navigationMenu (${#authentication.getPrincipal()})"></p>

    <div class="row vertical-center" style="min-height: 65vh">
        <div class="well bs-component horizontal-center col-lg-3">
            <form th:action="@{/addUser}" method="post" th:object="${UserForm}">
                <fieldset>

                    <legend>Registration</legend>

                    <span th:if="${param.error != null}"><p class="text-danger">Username is already in use</p></span>

                    <div class="col-lg-12">
                        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                        <input type="text" name="username" class="form-control floating-label" maxlength="20"
                               placeholder="Your name"/>
                    </div>

                    <div class="col-lg-12">
                        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                        <input type="password" name="password" class="form-control floating-label" maxlength="20"
                               placeholder="Password"/>
                    </div>

                    <div class="col-lg-11" style="margin-top: 10px">
                        <button name="submit" type="submit" value="submit" class="btn btn-primary">sign up</button>
                        <a href="login" class="btn btn-default"> login </a>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>