<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="icon" th:href="@{/favicon.ico}">
<head>

    <title th:text="${pageOwner.username}"></title>
    <div th:replace="fragments/head.html :: headerCSSJS"></div>

</head>
<body>

<div class="container-fluid" id="login_logout">

    <!--/* navigation menu on the top of the page */-->
    <p th:remove="tag" th:replace="fragments/navigationMenuAndNewCroakForm.html :: navigationMenu (${user})"></p>

    <div class="container top horizontal-center">
        <!--/*     form for create new croaks, visible only for page owner */-->
        <p th:remove="tag"
           th:replace="fragments/navigationMenuAndNewCroakForm.html :: newCroakForm (${pageOwner}, ${user})">
        </p>

        <!--/* list for print croaks */-->
        <p th:remove="tag"
           th:replace="fragments/listForPrintsCroaks.html :: listOfAllCroaks (${croaksAndRecroaks}, ${pageOwner}, ${user})">
        </p>

    </div>
</div>
</body>
</html>